version: "3.9"

services:
  backend:
    build: .
    env_file: .env
    environment:
      PORT: 4000
      URL_SHORTENER_SERVICE_URL: http://host.docker.internal:3000
    ports:
      - "4000:4000"
